body{
    margin: 0%;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
}
.top-part{
    background-image: url(https://wallpaper.dog/large/20511306.jpg);
    background-position: center;
}
.header{
    color: cornflowerblue;
    font-size: xx-large;
    font-weight: 900;
    
    
}