body{
    margin: 0%;
    font-family: 'Happy Monkey', cursive;
}
.top-part{
    background-image: url(https://wallpaper.dog/large/17284129.gif);
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 15px;
    border: 2px dashed rgba(128, 0, 128, 0.582);
    border-bottom: 5px solid purple;
    text-align: center;
    
}
.header{
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-shadow: -3px 10px 5px black;
    font-style: italic;
    border: 3px solid rgba(255, 129, 150, 0.425);
    background-color: rgba(176, 104, 243, 0.212);
    margin-left: 35%;
    margin-right: 35%;
}

.gif{
    border: 2px solid white;
    margin-top: 10px;
    
}

.return{
    border: 2px solid purple;
    background-color: rgb(167, 167, 255);
    font-family: 'Happy Monkey', cursive;
    font-weight: 900;
    border-radius: 5px;
    padding: 5px 10px ;
    font-size: large;
    top: 30%;
    display: flex;
    
}
.return-link{
    text-decoration: none;
}

.return:hover{
    background-image: url(https://c.tenor.com/MOsNcnmidrEAAAAC/peach-cat-animated.gif);
    background-size: center;
    padding: 10px 15px;
}

.second-part{
    background-color: rgb(174, 174, 235);
    font-size: xx-large;
    color: rgb(78, 21, 131);
    text-shadow: -1px 4px 6px rgb(90, 28, 90);
    border-left: 3px dashed rgb(38, 110, 192);
    border-right: 2px dashed rgb(38, 110, 192);
    border-bottom: 5px solid rgb(38, 110, 192);
    padding-top: 20px;
}
.DIV, .CON{
    font-weight: bold;
    color: rgb(237, 110, 241);
    text-shadow: -1px 3px 4px rgb(44, 11, 44);
}

.container-2{
    display: inline-flex;

}


.source{
    width: 100%;
}
p{
    padding: 50px; 
    margin-bottom: 0px;
    text-align: left;
    
}

